<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>585252526109-9mrrm01s1joji1hk3vnftb2evcfag549.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585252526109-9mrrm01s1joji1hk3vnftb2evcfag549</string>
	<key>API_KEY</key>
	<string>AIzaSyBUNE0KBHEnim0eM8nHhs85xeBttYQM7fs</string>
	<key>GCM_SENDER_ID</key>
	<string>585252526109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gatherings.ios</string>
	<key>PROJECT_ID</key>
	<string>gatherings-b3e9c</string>
	<key>STORAGE_BUCKET</key>
	<string>gatherings-b3e9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:585252526109:ios:ee8298a07899043a</string>
	<key>DATABASE_URL</key>
	<string>https://gatherings-b3e9c.firebaseio.com</string>
</dict>
</plist>